---
layout: qa_page
permalink: "/network-n-servers/connect_to_servers/"
parent: "Network and Servers"
title: "Connect to Servers"
index: 1
author : Adeepa
---

<faq>
    <question>How to connect to department servers?</question>
    <answer>
        <p>
            Logging into the PeraCom Department Servers using Terminal/CMD
            {% include youtubePlayer.html id="NsMzECaJYpk" %}
        </p>
        <p>
            Logging into the PeraCom Department Servers using MobaXterm
            {% include youtubePlayer.html id="Do5eTwXf62I" %}
        </p>
        <p>
            Logging into the PeraCom Department Servers using Terminal/CMD
            {% include youtubePlayer.html id="NsMzECaJYpk" %}
        </p>
        <p>
            Logging into the PeraCom Department Servers using MobaXterm
            {% include youtubePlayer.html id="Do5eTwXf62I" %}
        </p>
        <p>
        <p>If you still have issues, please mention it in the the 'ask-for-help' channel of the
            PeraCom Discord server</p>
        </p>
    </answer>
</faq>

<faq>
    <question>How to automatically connect to a server without typing a password?</question>
    <answer>
        See <a
            href="https://www.tecmint.com/ssh-passwordless-login-using-ssh-keygen-in-5-easy-steps/">https://www.tecmint.com/ssh-passwordless-login-using-ssh-keygen-in-5-easy-steps/</a>
        See <a
            href="https://www.tecmint.com/ssh-passwordless-login-using-ssh-keygen-in-5-easy-steps/">https://www.tecmint.com/ssh-passwordless-login-using-ssh-keygen-in-5-easy-steps/</a>
    </answer>
</faq>

<faq>
    <question>How can I install a software package on a department server without sudo access?</question>
    <answer>
        <ol>
            <li>Contact any instructor/lecturer and request them to install the software.</li>
            <li>Request a virtual machine contact: rajitharamanayake[at]gmail[dot]com</li>
            <li>There are many workarounds that do not require sudo access such as <br> <i>"pip install --user", "conda
                    install"</i> all you want to do is installing a python package.</li>
        </ol>
    </answer>
</faq>

<faq>
    <question>How can I get a linux virtual machine on a department server?</question>
    <answer>
        <p>Ask for permission from roshanr[at]eng[dot]pdn[dot]ac[dot]lk and <br> help from amilaindika[at]gmail[dot]com.
        </p>
    </answer>
</faq>
