---
layout: QA_page
permalink: "/network-n-servers/connect_to_servers/"
parent: "Network and Servers"
title: "Connect to Servers"
index: 1
author : Adeepa
---

<!--EXPAND ALL BUTTON ON TOP RIGHT CORNER
Later add to template-->
<p style="text-align:right">
    <button type="button" class="btn btn-dark btn-expand-all">EXPAND ALL</button>
</p>

<!-- 1 -->
<p>
    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
        aria-expanded="false" aria-controls="collapseExample">
        How to connect to department servers?
    </button>
</p>
<div class="collapse multi-collapse" id="collapse1">
    <div class="card card-body">

        <p>
            Logging into the PeraCom Department Servers using Terminal/CMD
            {% include youtubePlayer.html id="NsMzECaJYpk" %}
        </p>
        <p>
            Logging into the PeraCom Department Servers using MobaXterm
            {% include youtubePlayer.html id="Do5eTwXf62I" %}
        </p>
        <p>
            For more information see <a href="https://ce-pdn-ac-lk.com/cewiki/server_use:use_of_servers">
                https://ce-pdn-ac-lk.com/cewiki/server_use:use_of_servers</a>
        </p>
    </div>
</div>

<!-- 2 -->
<p>
    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
        aria-expanded="false" aria-controls="collapseExample">
        How to automatically connect to a server without typing a password?
    </button>
</p>
<div class="collapse multi-collapse" id="collapse2">
    <div class="card card-body">
        See <a
            href="https://www.tecmint.com/ssh-passwordless-login-using-ssh-keygen-in-5-easy-steps/">https://www.tecmint.com/ssh-passwordless-login-using-ssh-keygen-in-5-easy-steps/</a>
    </div>
</div>

<!-- 3 -->
<p>
    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3"
        aria-expanded="false" aria-controls="collapseExample">
        How can I install a software package on a department server without sudo access?
    </button>
</p>
<div class="collapse multi-collapse" id="collapse3">
    <div class="card card-body">
        <ol>
            <li>Contact any instructor/lecturer and request them to install the software.</li>
            <li>Request a virtual machine contact: rajitharamanayake[at]gmail[dot]com</li>
            <li>There are many workarounds that do not require sudo access such as <br> <i>"pip install --user", "conda
                    install"</i> all you want to do is installing a python package.</li>
        </ol>
    </div>
</div>

<!-- 4 -->
<p>
    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
        aria-expanded="false" aria-controls="collapseExample">
        How can I get a linux virtual machine on a department server?
    </button>
</p>
<div class="collapse multi-collapse" id="collapse4">
    <div class="card card-body">
        <p>Ask for permission from roshanr[at]eng[dot]pdn[dot]ac[dot]lk and <br> help from amilaindika[at]gmail[dot]com.
        </p>
    </div>
</div>

<!-- 5 -->
<!-- <p>
    <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapseExample">
        Why is my linux virtual machine on a department server unable to connect to the internet?
    </button>
</p>
<div class="collapse multi-collapse" id="collapse5">
    <div class="card card-body">
        No answer given yet. Need to update!
    </div>
</div> -->