---
layout: QA_page
permalink: "/network-n-servers/tesla/"
parent: "Network and Servers"
title: "Tesla"
index: 4
author : Adeepa
---

<!--EXPAND ALL BUTTON ON TOP RIGHT CORNER
Later add to template-->
<p style="text-align:right">
  <button type="button" class="btn btn-dark btn-expand-all">EXPAND ALL</button>
</p>

<!-- 1 -->
{% include qa-template.html
id="1"
question="How can I connect to this server?"
answer="You can directly SSH to this server from anywhere. <a href='/network-n-servers/connect_to_servers/'>Read how to SSH</a>"
%}

<!-- 2 -->
<p>
  <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
    aria-expanded="false" aria-controls="collapseExample">
    What is the Hardware Configuration of this server?
  </button>
</p>
<div class="collapse multi-collapse" id="collapse2">
  <div class="card card-body">
    <ul>
      <li>Intel(R) Core(TM) i7-6700K CPU @ 4.00GHz (8MB Cache, 8 threads)</li>
      <li>32 GB Memory</li>
      <li>Tesla C2075 GPU (6GB DDR5 Memory, 448 CUDA Cores, Compute Capability 2.0)</li>
    </ul>
  </div>
</div>

<!-- 3 -->
{% include qa-template.html
id="3"
question="What is the operating system of this server?"
answer="Ubuntu 14.04.5 LTS"
%}

<!-- 4 -->
<p>
  <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
    aria-expanded="false" aria-controls="collapseExample">
    What software is in installed in this server?
  </button>
</p>
<div class="collapse multi-collapse" id="collapse4">
  <div class="card card-body">
    <ul>
      <li>MySQL : Students can request login to use the MySQL server for their projects.</li>
      <li>Apache server: Students can request web server space for their projects.</li>
    </ul>
  </div>
</div>

<!-- 6 -->
{% include qa-template.html
id="6"
question="Can I install some software here?"
answer="Please request through any <a href='https://people.ce.pdn.ac.lk/staff/academic/'>CO staff member</a>. Please
note that the server admin has no authority to
install something unless it is requested by a staff memeber."
%}

<!-- 7 -->
{% include qa-template.html
id="7"
question="I broke something. What should I do?"
answer="<a class='btn-link' href='/network-n-servers/contact-network-admin/'>Contact server admin</a>"
%}

<!-- 8 -->
{% include qa-template.html
id="8"
question="What can I do if my doubt is not listed here?"
answer="<a class='btn-link' href='/network-n-servers/contact-network-admin/'>Ask via email</a>"
%}