---
layout: QA_page
permalink: "/network-n-servers/turing/"
parent: "Network and Servers"
title: "Turing"
index: 5
author : Nuwan
---

<!--EXPAND ALL BUTTON ON TOP RIGHT CORNER
Later add to template-->
<p style="text-align:right">
  <button type="button" class="btn btn-dark btn-expand-all">EXPAND ALL</button>
</p>

<p>
  This is a GPU server of the Department of Computer Engineering, University of Peradeniya.
</p>

<p>
  You can use this server using the LDAP login for ce.pdn.ac.lk undergraduates (which is used for CO top floor lab,
  Aiken and Tesla) without sudo access.
</p>

<div>
  <u>Specifications</u>
  <ul>
    <li>Intel Core i9-13900K CPU</li>
    <li>NVIDIA GeForce RTX 3090 Ti GPU</li>
    <li>32 GB (2x16 GB) DDR5-6000 Memory</li>
    <li>2 TB (2x2 TB) M.2 SSD</li>
  </ul>
</div>


<hr>


<!-- 2 -->
{% include qa-template.html
id="2"
question="How can I connect to this server?"
answer="You can use SSH login. Since turing.ce.pdn.ac.lk is not a public IP you shoud either (a) use a computer in the
Peradeniya network or (b) SSH to a public IP server like tesla.ce.pdn.ac.lk or aiken.ce.pdn.ac.lk and SSH to
turing.ce.pdn.ac.lk from there."
%}

<!-- 3 -->
{% include qa-template.html
id="3"
question="What is SSH?"
answer="<a href='https://ce-pdn-ac-lk.com/cewiki/server_use:use_of_servers'>This</a> is a good set of instructions on
the matter. If it is not clear (or unaccessible), contact
dhanushki.mapitigama[at]eng.pdn.ac.lk"
%}

<!-- 4 -->
{% include qa-template.html
id="4"
question="What are the GPUs in this server?"
answer="NVIDIA GeForce RTX 3090 Ti"
%}

<!-- 5 -->
{% include qa-template.html
id="5"
question="What is the operating system of this server?"
answer="Ubuntu 22.04 "
%}

<!-- 6 -->
<p>
  <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
    aria-expanded="false" aria-controls="collapseExample">
    What software is installed in this server?
  </button>
</p>
<div class="collapse multi-collapse" id="collapse6">
  <div class="card card-body">
    <ul>
      <li>Ubuntu 22.04</li>
      <li>NVIDIA-Driver Version: 530.41.03</li>
      <li>CUDA Version: 12.1 (You can update this using conda)</li>
    </ul>
  </div>
</div>

<!-- 7 -->
<p>
  <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7"
    aria-expanded="false" aria-controls="collapseExample">
    What datasets are hosted in Turing?
  </button>
</p>
<div class="collapse multi-collapse" id="collapse7">
  <div class="card card-body">
    <p>
      We store frequently used datasets inside the turing.ce.pdn.ac.lk local storage for easy access. You can access
      these by the following commands
    </p>

    <code class="bash">
ls /storage/datasets/
    </code>

    <p>These datasets are in the read only mode. You can use these datsets as the input for your tasks but you have to
      output the results to your home directory. The following datasets are stored at the moment.</p>

    <ul>
      <li>THIS LIST WILL BE POPULATED SOON.</li>
    </ul>

    <p>If you have suggestions for what datasets should be made available on this server, please send a request via
      email available in https://www.cs.umd.edu/~gihan/contact/ address.
    </p>
  </div>
</div>


<!-- 9 -->
{% include qa-template.html
id="9"
question="I want a different version of NVCC?"
answer="Use https://anaconda.org/anaconda/cudatoolkit"
%}


<!-- 11 -->
<p>
  <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11"
    aria-expanded="false" aria-controls="collapseExample">
    Can I install some software here?
  </button>
</p>
<div class="collapse multi-collapse" id="collapse11">
  <div class="card card-body">
    Please request through any CO staff member. Please note that the server admin has no authority to install something unless it is requested by a staff memeber.
  </div>
</div>

<!-- 12 -->
{% include qa-template.html
id="12"
question="What can I do if my doubt is not listed here?"
answer="<a class='btn-link' href='/network-n-servers/contact-network-admin/'>Ask via email</a>"
%}

<!-- 13 -->
{% include qa-template.html
id="13"
question="I am not an undergraduate of the Department of Computer Engineering, University of Peradeniya. Can I use this
server?"
answer="Ask headce[at]eng.pdn.ac.lk."
%}

<!-- 14 -->
{% include qa-template.html
id="14"
question="I broke something. What should I do?"
answer="<a class='btn-link' href='/network-n-servers/contact-network-admin/'>Contact server admin</a>"
%}
