<header class="blog-header py-3 px-3 d-none d-sm-none d-md-block">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-5 pt-1">
      <img
        class="ms-5 mx-auto d-block img-fluid"
        src="/assets/img/banner.svg"
        style="height: 64px"
        alt="Logo"
      />
    </div>
    <div class="col-8 d-none">&nbsp;</div>
    <div class="col-2 d-flex justify-content-end align-items-center">
      <a
        class="d-none btn btn-sm btn-outline-secondary"
        href="http://www.ce.pdn.ac.lk"
        target="_blank"
      >
        Department Site
      </a>
    </div>
  </div>
</header>
