---
layout: testCategory
permalink: "/wellbeing/"
parent: "home"
title: "Wellbeing"
index: 10
---

<!--EXPAND ALL a ON TOP RIGHT CORNER
Later add to template-->
<p style="text-align:right">
  <button type="button" class="btn btn-dark btn-expand-all">EXPAND ALL</button>
</p>


<!-- 1 -->
{% include qa-template.html
id="1"
question="I have a few concerns about my academic program, and I would like to talk to a staff member.<br>
Whom should I talk to?"
answer="Any staff member would be happy to help.<br> However, the most straightforward person to reach would be your
advisor/a senior student counselor.
<br>You can find your advisor from below link using eng.pdn.ac.lk email. <a href='https://docs.google.com/spreadsheets/d/1r0A0kh6xtSxPt3wkcKYsHQLoWKG_XNYEyvAtDBPM-Xs/edit#gid=652951330'>Advisors</a>"
%}

<!-- 2 -->
{% include qa-template.html
id="2"
question="I am concerned about my mental health and prefer advice from a professional.
<br> What resources are available for me at the faculty/university?"
answer="You can find a lot of information on the support at the faculty level in the FEels page using link below.<a href='https://feels.pdn.ac.lk/course/view.php?id=1693'>FEeLS page</a> <br>
University has an established unit with counseling and psychological professionals called Capsu, using the following link below.<a href='https://www.pdn.ac.lk/centers/capsu/'>Capsu</a>"
%}

<!-- 3 -->
{% include qa-template.html
id="3"
question="I would like to raise my voice on a problem applicable to most of my colleagues at the department. <br>
What
places can I go to?"
answer="<ul>
  <li>Staff student liaison committee</li>
  <li>Head of Department</li>
</ul>"
%}

<!-- 4  -->
{% include qa-template.html
id="4"
question="What opportunities are there for me to interact with others at the department?"
answer="This is not an exhaustive list. In addition to regular course related activities, there are many opportunities for volunteering at the department including
Join a student community: ACES/Hackers club
Be a casual instructor (Contact: Dr. Mahanama Wickaramasinghe:mwickramasinghe@eng.pdn.ac.lk)
Join the department web team (contact: Dr. Damayanthi Herath damayanthiherath@eng.pdn.ac.lk).
"
%}

<!-- 5 -->
{% include qa-template.html
id="5"
question="For a concern on a course, whom to contact"
answer="<ul>
  <li>Course Coordinator</li>
  <li>Head of Department</li>
</ul>"
%}

<!-- 6 -->
{% include qa-template.html
  id="6"
  question="My query related to wellbeing is not answered by any of the above. What shall I do?"
  answer="Please get in touch with Dr. Damayanthi Herath(damayanthiherath@eng.pdn.ac.lk) and discuss further."
  %}