---
layout: testCategory
permalink: "/equipment/"
parent: "home"
title: "Equipment"
index: 6
---


<!--EXPAND ALL BUTTON ON TOP RIGHT CORNER
Later add to template-->
<p style="text-align:right">
  <button type="button" class="btn btn-dark btn-expand-all">EXPAND ALL</button>
</p>

<!-- 1 -->
{% include qa-template.html
id="1"
question="How to get started with the Open BCI Cyton Board?"
answer="See <a href='https://cepdnaclk.github.io/e15-4yp-Brain-Computer-Interface-for-controlling-virtual-objects/'>
  https://cepdnaclk.github.io/e15-4yp-Brain-Computer-Interface-for-controlling-virtual-objects/</a>"
%}

<!-- 2 -->
{% include qa-template.html
id="2"
question="How to use the department 3D printing service ?"
answer="See the guidelines for beginners in [Ender 3 Pro 3D Printer User
Guide](https://make.ce.pdn.ac.lk/docs/3d-printing/)"
%}

<!-- 3 -->
{% include qa-template.html
id="3"
question="How to use the department CNC Machine ?"
answer="See the guidelines in [3018 CNC User
Guide](https://make.ce.pdn.ac.lk/docs/cnc/)"
%}