---
layout: default
title: "Sitemap"
permalink: /sitemap/
---

<div class="bg-secondary p-3 pb-1 rounded">
    <h1 class="text-white">{{ page.title }}</h1>
    <nav aria-label="breadcrumb page-breadcrumb">
        <ol class="breadcrumb page-breadcrumb">
            <li class="breadcrumb-item"><a href="{% link faq/index.html %}" class="link-light">Home</a></li>
            <li class="breadcrumb-item text-white">
                {{ page.title }}
            </li>
        </ol>
    </nav>
</div>

<div class="container p-3 pt-4">

    {% include page_tree_builder.html pages=site.html_pages -%}
    {%- assign categories = pages_list | where: "parent", "home" -%}

    {% for cat in categories %}
    <div class="container pb-3">
        <h4>{{cat.title}} </h4>
        {%- assign sub_categories = pages_list | where: "parent", cat.title -%}
        <ul>
            <li><a class="" href="{{ cat.permalink }}">index</a></li>
            {% for page in sub_categories %}
            <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {%- endfor -%}

</div>