---
layout: qa_page
permalink: "/clubs-societies-and-events/ESCaPe/"

parent: "Clubs, Societies and Events"
title: "ESCaPe - Engineering Students Conference at Peradeniya"
author: ""

github: faq/clubs-societies-and-events/05_escape.html
---

<!-- <faq>
    <question>

    </question>

    <answer>

    </answer>
</faq> -->

<p>
  ESCaPe (Engineering Students’ Conference at Peradeniya) is the annual research conference that
  will introduce the department final year student's research projects.
</p>

<h5>ESCaPE 2021</h5>

<h6>Live Sream: ESCaPe 2021 Symposium, "Empowered with AI" - Accelerated AI</h6>
{% include youtubePlayer.html id="cO88sCxr0qo" %}

<h6>Live Sream: ESCaPe 2021 Symposium, "Empowered with AI" - Data Driven</h6>
{% include youtubePlayer.html id="xn_fZH3KfCQ" %}
