---
layout: default
---

{% assign content_ = content | replace: '<faq>', '<div>' %}
        {% assign content_ = content_ | replace: '</faq>', '</div><br>' %}

{% assign content_ = content_ | replace: '<question>', '<div><b>Q.' %}
            {% assign content_ = content_ | replace: '</question>', '</b></div>' %}

{% assign content_ = content_ | replace: '<answer>', '<div>' %}
        {% assign content_ = content_ | replace: '</answer>', '</div>' %}

{% assign content_ = content_ | replace: '<code class="', '<div class=" highlight"><pre><code class="dracula ' %}
{% assign content_ = content_ | replace: '</code>', '</code></pre>
</div>' %}

{% include page_tree_builder.html pages=site.html_pages -%}
{%- assign parent_page = pages_list | where: "title", page.parent -%}

<div class="bg-secondary p-3 pb-1 rounded">
    <h1 class="text-white">{{ page.title }}</h1>
    <nav aria-label="breadcrumb page-breadcrumb">
        <ol class="breadcrumb page-breadcrumb">
            <li class="breadcrumb-item"><a href="{% link faq/index.html %}" class="link-light">Home</a></li>
            {%- if page.grand_parent -%}
            {%- assign grand_parent_page = pages_list | where: "title", page.grand_parent -%}
            <li class="breadcrumb-item">
                <a class="text-white" href="{{ grand_parent_page[0].permalink }}">{{ page.grand_parent }}</a>
            </li>
            {%- endif -%}
            <li class="breadcrumb-item">
                <a class="text-white" href="{{ parent_page[0].permalink }}">{{ page.parent }}</a>
            </li>
            <li class="breadcrumb-item text-white">
                {{ page.title }}
            </li>
        </ol>
    </nav>
</div>

<div class="container pt-5">
    {{ content_ }}
</div>