<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    {% include meta.html %}

    <title>{{ page.title }}</title>

    {%- include head.html -%}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top_">
        <div class="container">
            <a class="navbar-brand" href="/">FAQ - Department of Computer Engineering</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link d-none" href="{{ "/" | absolute_url }}">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main role="main"  >
    <div class="container d-flex pt-2">
        <a class="" href="{{ "/" | absolute_url }}"> <<  {{ site.title | default: site.github.repository_name }}</a>
    </div>

    <div class="container pt-5 px-5 vh-50">
        <div class="px-10">
            {{ content }}
        </div>
    </div>
</main>

{% if site.google_analytics %}

{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/holder.min.js' | relative_url }}"></script>
</body>
</html>
